@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131316;
    background-size: cover;
    background-position: center;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    margin-bottom: 50px;
    color: #4f5ce4;
    padding: 50px;
    overflow-wrap: break-word;
}

.hidden {
    opacity: 0;
    transition: all 3s;
}

.show {
    opacity: 1;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo { 
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;

}


.content .info h1 {
    font-family: 'Archivo Black';
    font-size: 10em;
    color: #4f5ce4;
    text-align: center;
    font-weight: 500;
    margin: auto; 
}

.content .info p {
    font-family: 'Rubik';
    font-size: 1em;
    color: #4f5ce4;
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
}

.content .info .simple {
    font-family: 'Archivo Black';
    font-size: 5em;
    color: #4f5ce4;
    text-align:center;
    font-weight: 500x;
    padding-bottom: 20px;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #252525;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #ffffff;
    padding: 20px;
    text-align: center;
    background-color: #fff;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #ffffff;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }